<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="emails/fragments/defaultStructure :: head"></div>
<body>
<div style="font-family: Sans-Serif;">
    <div th:replace="emails/fragments/defaultStructure :: bodyHeader"></div>

    <div id="mainSection">
        <p>Se ha solicitado un cambio de contraseña.</p>
        <p>Para cambiar la contraseña acceda al enlace que se muestra a continuación:</p>
        <p><a th:href="${passwordChangeUrl}" style="text-decoration: none; color: #5b87da;"><span th:text="${passwordChangeUrl}"></span></a></p>
        <p>Si usted no ha solicitado un cambio de contraseña no tendrá que hacer nada.
            Si lo prefiere puede ponerse en contacto con el administrador.
        </p>
    </div>

    <div th:replace="emails/fragments/defaultStructure :: bodyFooter"></div>
</div>
</body>
</html>