<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="emails/fragments/defaultStructure :: head"></div>
<body>
<div style="font-family: Sans-Serif;">
    <div th:replace="emails/fragments/defaultStructure :: bodyHeader"></div>

    <div id="mainSection">
        <h2>Se ha creado un usuario de la aplicación Hopes.</h2>
        <p>Las credenciales para acceder a la aplicación:
            <ul>
                <li>Nombre de usuario: <span th:text="${username}"></span></li>
                <li>Contraseña       : <span th:text="${password}"></span></li>
            </ul>
        </p>
        <p>La contraseña ha sido generada automáticamente. Puede proceder al cambio de la contraseña desde la pantalla
            de acceso a la aplicación.
        </p>
    </div>

    <div th:replace="emails/fragments/defaultStructure :: bodyFooter"></div>
</div>
</body>
</html>